/* Import Google Font */
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(to right, #aa1a92, #00ffe1);
}

main {
  padding: 40px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 50px;
  margin-bottom: 50px;
  color: gold;
  transform: rotate(-5deg);
  text-shadow: 1px 1px 2px #aa1a92;
  transition: width 2s;
  transition-timing-function: ease-out;
}

h1: :hover {
  width: 300px;
}

p1 {
  color: gold;
  text-shadow: 1px 1px 2px #aa1a92;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 50px;
  transform: rotate(5deg);
  text-shadow: 1px 1px 2px #aa1a92;
  color: gold;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 50px;
  transform: rotate(-5deg);
  text-shadow: 1px 1px 2px #aa1a92;
  color: gold;
}

ul {
  font-style: italic;
  color: gold;
  border-style: dotted;
  border-color: goldenrod;
}

h4 {
  color: gold;
  text-shadow: 1px 1px 2px #aa1a92;
}

ol {
  font-style: italic;
  color: gold;
  border-style: dashed;
  margin-bottom: 150px;
  border-color: goldenrod;
}
